{% extends 'theme/devel/tsadm/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
<div>

{% if form.errors %}
    <p>
    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
    </p>
{% endif %}

<p>Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly.</p>

<fieldset>

<div>
    {{ form.old_password.errors }}
    {{ form.old_password.label_tag }} {{ form.old_password }}
</div>

<div>
    {{ form.new_password1.errors }}
    {{ form.new_password1.label_tag }} {{ form.new_password1 }}
    {% if form.new_password1.help_text %}
    <p>{{ form.new_password1.help_text|safe }}</p>
    {% endif %}
</div>

<div>
    {{ form.new_password2.errors }}
    {{ form.new_password2.label_tag }} {{ form.new_password2 }}
    {% if form.new_password2.help_text %}
    <p>{{ form.new_password2.help_text|safe }}</p>
    {% endif %}
</div>

</fieldset>

<div>
    <input type="submit" value="Change my password">
</div>

</div>
</form>

{% endblock %}
