[report]
omit =
    tsadm/wsgi.py

exclude_lines =
    # for models.py files
    def __str__

    # don't know how to test a super().dispatch exception yet...
    except Exception as dispatchExc

[html]
directory = htmlcov
